@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: var(--font-roboto);
}

h1, h2, h3 {
  font-family: var(--font-ovo);
}


/* home page styling */

.offers-icon {
  @apply p-2 border-[3px] rounded-lg border-dcam-white;
}

/* header styles */

.header-btn {
  @apply btn btn-outline border-2 text-dcam-white font-medium bg-dcam-reg-blue hover:bg-dcam-dark-blue hover:border-2 hover:border-dcam-white;
}

/* hero slider styles */
.slider-btn {
  @apply btn btn-outline border-2 text-dcam-white font-medium bg-dcam-reg-green hover:bg-dcam-dark-green hover:border-2 hover:border-dcam-white;
}

/* instruments slider styles */

.slick-slider {
  @apply px-10
}

.slick-arrow.slick-prev {
  background: #FFF;
  left: 10px;
  top: 45%;
  z-index: 10;
}

.slick-arrow.slick-next {
  background: #FFF;
  right: 40px;
  top: 45%;
}

.slick-arrow.slick-next::before, .slick-arrow.slick-prev::before {
  color: gray;
  font-size: 50px;
}


/* navigation styles */

.nav-link {
  @apply text-[0.9rem] bg-dcam-reg-blue h-[45px] px-3 flex items-center;
}

.mobile-nav-link {
  @apply bg-dcam-reg-blue text-dcam-white h-[45px] px-4 flex items-center justify-center border-b-2 border-dcam-white/60;
}

/* .blah {
  @apply text-gray-
} */


/* teachers page */

.teachers section:nth-child(even) {
  @apply bg-gray-100
}


/* UTILITIES */

.visit-page-btn {
    @apply btn btn-outline btn-lg border-2 block mx-auto mt-20 text-dcam-white font-medium bg-dcam-reg-orange hover:bg-dcam-dark-orange hover:border-2 hover:border-dcam-white;
}

.dcam-link-blue {
  @apply text-dcam-reg-blue underline hover:text-dcam-dark-blue;
}

.dcam-link-orange {
  @apply text-dcam-reg-orange underline hover:text-dcam-dark-orange;
}

.dcam-link-hover-orange {
  @apply hover:text-dcam-reg-orange;
}

.font-ovo {
  font-family: var(--font-ovo);
}

.font-roboto {
  font-family: var(--font-roboto);
}

.dcam-submit-btn {
  @apply btn btn-outline border-2 text-dcam-white font-medium bg-dcam-reg-green hover:bg-dcam-dark-green hover:border-2 hover:border-dcam-white;
}

.dcam-download-btn {
  @apply btn btn-lg bg-dcam-reg-green hover:bg-dcam-dark-green text-dcam-white font-medium;
}

.dcam-blog-card-btn {
  @apply btn bg-dcam-reg-green hover:bg-dcam-dark-green text-dcam-white font-medium w-full;
}

.blog-card {
  @apply p-6 bg-gray-100 rounded-md border-2 border-gray-200 shadow-lg mx-auto flex flex-col justify-between;
}